node_modules
.next
.git
.gitignore
.env*
!.env.example
data
drizzle
*.md
Dockerfile
.dockerignore
.DS_Store
*.pem
npm-debug.log*
.vercel
.pnp
.pnp.*
.yarn
coverage
.github
.husky
.releaserc.json
commitlint.config.mjs
